*.py[cod]

# Packages
*.egg
*.egg-info
*.pem
*.csv
*.tsv
*.twb
*.twbx
*.DS_Store
*.RData
*.Rhistory
*.Python
*.html
*.idea
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.pem
*.ipynb
*.cfg
*.db
*.pid
*.zip
*.ini
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

*.ipynb_checkpoints/

# Yo api call
*example_yo_api_call.txt

# Installer logs
pip-log.txt


venv/
venv
jupyter_env
log/
logs/
data/
results/

client_secret.json
credentials.json
service_account.json

.vscode/
